@import "tailwindcss";
@import "./fonts/fonts.css";

@theme {
  --font-inter: "Inter", sans-serif;
  --font-interBold: "Inter Bold", sans-serif;
  --font-interBlack: "Inter Black", sans-serif;
  --font-roboto: "Roboto", sans-serif;
  --font-robotoMedium: "Roboto Medium", sans-serif;
  --font-robotoBold: "Roboto Bold", sans-serif;
}

body {
  background-color: #1a1a1a;
  font-family: "Inter", sans-serif;
}

.site-container {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
}
